<!-- Projects Section -->
<section class="projects section horizontal-scroll-enabled" id="projects">
    <div class="container">
        <div class="section-heading">
            <h2>My Projects</h2>
            <div class="underline"></div>
        </div>
        <div class="project-filters">
            <button class="filter-button active" data-filter="all">All Projects</button>
            <button class="filter-button" data-filter="ds">Data Science</button>
            <button class="filter-button" data-filter="ml">Machine Learning</button>
            <button class="filter-button" data-filter="a">Automation</button>
            <button class="filter-button" data-filter="ae">Analytics Engineering</button>
        </div>

        <div class="scroll-arrow-container">
            <button class="scroll-arrow prev-arrow" aria-label="Previous items">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="scroll-arrow next-arrow" aria-label="Next items">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <div class="horizontal-scroll-wrapper">
            <div class="scroll-content projects-grid"> 
            
            <!-- DSML Project 2 -->
            <div class="project-card" data-category="ds">
                <div class="project-image">
                    <img src="assets\projects\legal-doc-example.png" alt="Legal Document Analysis">
                </div>
                <div class="project-content">
                    <h3 class="project-title">AI-Powered Legal Document Analysis System</h3>
                    <p class="project-description">Led end-to-end development of transformer-based NLP systems for legal document understanding, including ETL pipelines for CUAD data and fine-tuning Phi‑2 and T5 models with LoRA and RAG. Built optimized retrieval workflows with LangChain and vector stores, and delivered a Streamlit app for document classification, clause tagging, and analytics, improving retrieval efficiency and response accuracy through rigorous evaluation and tuning.</p>
                    <div class="project-tech-stack">
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Langchain</span>
                        <span class="tech-tag">NLP</span>
                        <span class="tech-tag">Streamlit</span>
                        <span class="tech-tag">Retrieval Augmented Generation (RAG)</span>
                        <span class="tech-tag">Low-Rank Adaption (LoRA) </span>
                        <span class="tech-tag">Logistic Regression + TF-IDF</span>
                        <span class="tech-tag">AI Model Fine-tuning</span>
                        <span class="tech-tag">T5</span>
                    </div>                    
                    <div class="project-links">
                        <a href="assets\projects\Legal Intelligence App Exec Summary.pdf" class="project-link open-pdf-modal" data-modal-title="AI Legal Doc Analysis"><i class="fas fa-file-alt"></i> Executive Summary</a>
                    </div>
                </div>
            </div>
            <div class="project-card" data-category="ds">
                <div class="project-image">
                    <img src="assets\images\AlgoTrading.png" alt="VBA Reporting Automation">
                </div>
                <div class="project-content">
                    <h3 class="project-title">Algorithmic Trading Platform</h3>
                    <p class="project-description">
                        Designed solutions to automate trading decisions by researching quantitative trading techniques and implementing multiple back testing frameworks to validate strategies.
                        Centralized back testing performance metrics in a database to enable systematic evaluation and refinement of trading approaches.
                        Architected a machine learning-driven portfolio manager for optimized asset allocation and developed a Dash-based dashboard in python to visualize real-time performance.
                        Planned and Prepared the deployment of AWS for scalable, real-time operations to enhance system performance and reliability.
                    </p>
                    <div class="project-tech-stack">
                        <span class="tech-tag">Statistical Analysis</span>
                        <span class="tech-tag">Time Series Analysis</span>
                        <span class="tech-tag">Data Architecture</span>
                        <span class="tech-tag">Project Management</span>
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Dash</span>
                        <span class="tech-tag">API</span>
                        <span class="tech-tag">ETL Pipelines</span>
                        <span class="tech-tag">AWS</span>
                        <span class="tech-tag">Version Control</span>

                    </div>                    
                    <div class="project-links">
                        <a href="" class="project-link open-pdf-modal" data-modal-title=""><i class="fas fa-file-alt"></i> Executive Summary</a>
                    </div>
                </div>
            </div>
            <!-- DSML Project 3 -->
            <div class="project-card" data-category="a">
                <div class="project-image">
                    <img src="assets\images\VBA_photo2.jpg" alt="VBA Reporting Automation">
                </div>
                <div class="project-content">
                    <h3 class="project-title">VBA Reporting Workflow Automation</h3>
                    <p class="project-description">Automated repetitive weekly reporting workflows. This workflow included reformating an Excel spreadsheet, checking data accuracy requesting empty cells to be filled when needed, automatically sending emails, and moving file locations after completion.</p>
                    <div class="project-tech-stack">
                        <span class="tech-tag">VBA</span>
                        <span class="tech-tag">Excel</span>
                        <span class="tech-tag">Outlook</span>
                    </div>
                    <div class="project-links">
                        <a href="" class="project-link open-pdf-modal" data-modal-title="ECG Abnormality Classification Paper"><i class="fas fa-file-alt"></i> Research Paper</a>
                    </div>
                </div>
            </div>
            <div class="project-card" data-category="ae">
                <div class="project-image">
                    <img src="assets\images\RealEstateAnalytics.png" alt="House">
                </div>
                <div class="project-content">
                    <h3 class="project-title">Real Estate Property Analysis Platform</h3>
                    <p class="project-description">Build a simple real estate analysis platform; designed and developed a relation database in MySQL, built ETL pipelines that webscraped and migrated data into my relational database, connected ReDash to build dashboards and reports.</p>
                    <div class="project-tech-stack">
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">MySQL</span>
                        <span class="tech-tag">ReDash</span>
                        <span class="tech-tag">Beautiful Soup</span>
                        <span class="tech-tag">ETL Pipelines</span>
                    </div>                    
                    <div class="project-links">
                        <a href="" class="project-link open-pdf-modal" data-modal-title="AI Legal Doc Analysis"><i class="fas fa-file-alt"></i> Executive Summary</a>
                    </div>
                </div>
            </div>
            <div class="project-card" data-category="ds">
                <div class="project-image">
                    <img src="assets\images\Convience_Store.png" alt="C-Store">
                </div>
                <div class="project-content">
                    <h3 class="project-title">Convenience Store Data Aggregation</h3>
                    <p class="project-description">Worked within a team to explore, clean, aggregate, and create features derived from C-store data for purpose of predicting product demand.</p>
                    <div class="project-tech-stack">
                        <span class="tech-tag">Big Data</span>
                        <span class="tech-tag">EDA</span>
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">PySpark</span>
                        <span class="tech-tag">Databricks</span>
                        <span class="tech-tag">ETL</span>
                        <span class="tech-tag">SQL</span>
                    </div>                    
                    <div class="project-links">
                        <a href="" class="project-link open-pdf-modal" data-modal-title="AI Legal Doc Analysis"><i class="fas fa-file-alt"></i> Executive Summary</a>
                    </div>
                </div>
                <div class="project-card" data-category="ds">
                <div class="project-image">
                    <img src="" alt="C-Store">
                </div>
                
                <div class="project-card" data-category="ds">
                    <div class="project-image">
                        <img src="" alt="C-Store">
                    </div>
                    
                    <div class="project-content">
                        <h3 class="project-title">Streamlit Weather Application</h3>
                        <p class="project-description">Designed and developed a simple weather web application using Streamlit and a weather API. </p>
                        <div class="project-tech-stack">
                            <span class="tech-tag">Python</span>
                            <span class="tech-tag">Streamlit</span>
                            <span class="tech-tag">API</span>
                        </div>                    
                        <div class="project-links">
                            <a href="" class="project-link open-pdf-modal" data-modal-title="AI Legal Doc Analysis"><i class="fas fa-file-alt"></i> Executive Summary</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Closing scroll-content -->
        </div> <!-- Closing horizontal-scroll-wrapper -->
    </div>
</section>
